#corpusUploader,
#documentUploader,
#annotationUploader,
#formatUploader {
  display: none;
}

#corpusFileList {
  display: none;
}

#login-error-message {
  display: none;
}

.alert-laudatio {
  display: none;
}

#citationtabs .maintablink,
.hover-mouse-pointer {
  cursor: pointer;
  cursor: hand;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}

.modal-backdrop.fade {
  opacity: 0.5 !important;
}

#citation-text {
  color: #0b3725;
  padding: 10px;
  margin: 10px 0;
  font-weight: 500;
}

.vgt-global-search,
.vgt-wrap__footer {
  border: 1px solid #f6f3f0 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2ede6), to(#f6f3f0)) !important;
  background: linear-gradient(#f2ede6, #f6f3f0) !important;
}

a.homenav:hover {
  border-bottom: 5px solid #FFFFFF !important;
}

