#corpusUploader, #documentUploader,#annotationUploader, #formatUploader{
  display: none;
}

#corpusFileList{
  display: none;
}

#login-error-message {
  display: none;
}

.alert-laudatio {
  display: none;
}

#citationtabs .maintablink, .hover-mouse-pointer {
  cursor: pointer;
  cursor: hand;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
  opacity: 0.5 !important;
}

#citation-text {
  color: #0b3725;
  padding: 10px;
  margin: 10px 0;
  font-weight: 500;
}

.vgt-global-search, .vgt-wrap__footer {
  border: 1px solid #f6f3f0 !important;
  background: linear-gradient(#f2ede6, #f6f3f0) !important;
}

a.homenav:hover {
  border-bottom: 5px solid #FFFFFF !important;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}