@charset "UTF-8";
@font-face {
  font-family: NotoSansDisplay;
  src: url(/fonts/NotoSansDisplay-Regular.ttf?9b2414350a0c3e66b5379385aa152727) format("truetype"), url(/fonts/NotoSansDisplay-Regular.eot?03718ed792d8a84acad70a940e736a0e) format("eot"), url(/fonts/NotoSansDisplay-Regular.svg?b34e3833c5f1aadb1835423ec194ae7b) format("svg"), url(/fonts/NotoSansDisplay-Regular.woff?98b78ea917206b5f3c8ce8a9048e5c9d) format("woff"), url(/fonts/NotoSansDisplay-Regular.woff2?b02651c43d746f92c90b3da1c142284b) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NotoSansDisplay;
  src: url(/fonts/NotoSansDisplay-Italic.ttf?b77c5ddb237af809b9ede0404bb4fd96) format("truetype"), url(/fonts/NotoSansDisplay-Italic.eot?301164931252c36ded9a0b487bec549c) format("eot"), url(/fonts/NotoSansDisplay-Italic.svg?f1c3b7b2db1dc0c704f03c62e4c90c55) format("svg"), url(/fonts/NotoSansDisplay-Italic.woff?a15f5a844bea9102157759323dac25b1) format("woff"), url(/fonts/NotoSansDisplay-Italic.woff2?2736f2e90fea74b15a27c34945336d11) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: NotoSansDisplay;
  src: url(/fonts/NotoSansDisplay-Medium.ttf?677e56cfabbd93e2fb3c46ea812fcd2d) format("truetype"), url(/fonts/NotoSansDisplay-Medium.eot?c0a8c01cdd9fdbd1dca191e4435b2c9f) format("eot"), url(/fonts/NotoSansDisplay-Medium.svg?3f4378e0a3d33bf93f23b25e46ff449c) format("svg"), url(/fonts/NotoSansDisplay-Medium.woff?28d277c7ab910b6538a2eb58e9f17cd6) format("woff"), url(/fonts/NotoSansDisplay-Medium.woff2?d9deeaa83e7f8bb1376cfb434cc04543) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: NotoSansDisplay;
  src: url(/fonts/NotoSansDisplay-SemiBold.ttf?6514933cbe79c9a2886f9e58a4e678e4) format("truetype"), url(/fonts/NotoSansDisplay-SemiBold.eot?af22bc00bcf14070ac0210ef06633bb1) format("eot"), url(/fonts/NotoSansDisplay-SemiBold.svg?9110395e29909df68cbd37ec15200a7e) format("svg"), url(/fonts/NotoSansDisplay-SemiBold.woff?e9b8ba8ca380c88d7d7876159cef9b40) format("woff"), url(/fonts/NotoSansDisplay-SemiBold.woff2?815940b997561de1cfbdab21a35c19b8) format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: NotoSansDisplay,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

#corpusUploader, #documentUploader, #annotationUploader, #formatUploader, #logoUploader{
  display: none;
}

#corpusFileList, #documentFileList, #annotationFileList, #logoFileList, #formatFileList{
  display: none;
}

#login-error-message,#publish-error-message {
  display: none;
}

.alert-laudatio {
  display: none;
}

#citationtabs .maintablink, .hover-mouse-pointer {
  cursor: pointer;
  cursor: hand;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
  opacity: 0.5 !important;
}

#citation-text {
  color: #0b3725;
  padding: 10px;
  margin: 10px 0;
  font-weight: 500;
}

.vgt-global-search, .vgt-wrap__footer, .vgt-table th {
  border: 1px solid #f6f3f0 !important;
  background: linear-gradient(#f2ede6, #f6f3f0) !important;
}


.vgt-table thead th span{
  cursor: pointer;
  cursor: hand;
}

.vgt-table thead th.sorting-desc:after {
  border-top: 6px solid #ff4a00 !important;
}

.vgt-table thead th.sorting-asc:after {
  border-bottom: 6px solid #ff4a00 !important;
}

.table.vgt-table td {
  border-bottom: none !important;
}

a.homenav:hover {
  border-bottom: 5px solid #FFFFFF !important;
}

.btn-link span.no-link {
  color: #606266;
}

.collapsed > span > span.when-opened,
:not(.collapsed) > span > span.when-closed {
  display: none;
}

.collapse > div.card, .collapsed > div.card, .collapsing > div.card {
  border: none !important;
}

.languageLists dl dt {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.languageLists dl dt:after {
  content: ":"
}

.languageLists dl dd {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  margin-left: 2em;
}

/** CC DEEDS **/
#deed-head {
  /*
  background: #00b5da;
  background: #00b5da;
  background: -moz-linear-gradient(top,rgba(0,181,218,1) 0%,rgba(0,165,200,1) 100%);
  background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(0,181,218,1)),color-stop(100%,rgba(0,165,200,1)));
  background: -webkit-linear-gradient(top,rgba(0,181,218,1) 0%,rgba(0,165,200,1) 100%);
  background: -o-linear-gradient(top,rgba(0,181,218,1) 0%,rgba(0,165,200,1) 100%);
  background: -ms-linear-gradient(top,rgba(0,181,218,1) 0%,rgba(0,165,200,1) 100%);
  background: linear-gradient(to bottom,rgba(0,181,218,1) 0%,rgba(0,165,200,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5da',endColorstr='#00a5c8',GradientType=0 );
  */
  background-color: #f2ede6;
  position: relative;
  padding: 0 150px;
  text-align: center;
}

.deedrow {
  margin-right: -15px;
  margin-left: -15px;
}

#cc-logo img, span.icon img {
  width: 62px;
  height: 62px;
  vertical-align: middle;
}

.print-only {
  display: none;
}

#deed-head span.cc-license-icons {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
}

#deed-head span.cc-license-icons .icon {
  display: inline-block;
}

#deed-head span.cc-license-title {
  display: inline;
}
#deed-head span.cc-license-identifier {
  display: inline-block;
}


#deed-license {
  text-align: center;

  margin: 40px 0;
  font-weight: 700;
  color: #fff;
}

#deed-license h2 {
  margin: 0;
  font-size: 2em;
  padding: 0;
  line-height: 1.1;
}

#deed-main-content {
  text-align: left;
  padding: 15px 100px 0;
  position: relative;
  margin: 0 15px;
}

#deed-rights {
  padding: 0;
}

#libre {
  margin-top: 1em;
  left: 0;
  right: 0;
}

#deed-rights .license-properties {
  margin-left: 0;
  margin-right: 0;
}

li.license {
  list-style: none;
  position: relative;
  margin-bottom: 15px;
}
#libre img, #libre a, #librepd img, #librepd a {
  margin-top: 24px;
  max-width: 140px;
  height: auto;
  border: 0!important;
}

ul.license-properties {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

li.share, li.remix, li.commercial {
  padding-left: 0;
  padding-bottom: 0;
  min-height: 1em;
}

li.license+li.commercial {
  margin-top: -15px;
}

#deed-main-content a.inline-help, #deed-main-content a.helpLink {
  text-decoration: none;
  font-weight: inherit;
  border-bottom: 1px dashed #888;
  cursor: help;
}

.help_panel {
  display: none;
}

.laudatiohighlight {
  background-color: #fff27f
}
.laudatiofilterhighlight {
  background-color: #ceffb4
}